<div class="text-center m-4 p-4">
  <h1>Carbon Footprint Calculator</h1>
</div>

<div class="m-auto max-w-[720px]">
  <mat-vertical-stepper [linear]="false">
    <!-- Welcome -->
    <mat-step>
      <ng-template matStepLabel><strong>Welcome</strong></ng-template>
      <div class="pb-4">
        @defer (on viewport) {
          <app-welcome />
        } @placeholder {
          <p>Loading...</p>
        }
      </div>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </mat-step>
    <!-- House -->
    <mat-step>
      <ng-template matStepLabel>House</ng-template>
      <div class="pb-4">
        <app-house />
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Flights -->
    <mat-step>
      <ng-template matStepLabel>Flights</ng-template>
      <div class="pb-4">
        <app-flights />
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Car -->
    <mat-step>
      <ng-template matStepLabel>Car</ng-template>
      <div class="pb-4">
        <app-car />
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Motorbike -->
    <mat-step>
      <ng-template matStepLabel>Motorbike</ng-template>
      <div class="pb-4">
        <app-motorbike />
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Bus & Rail -->
    <mat-step>
      <ng-template matStepLabel>Bus & Rail</ng-template>
      <div class="pb-4">
        <app-busrail />
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Secondary -->
    <mat-step>
      <ng-template matStepLabel>Secondary</ng-template>
      <app-secondary />
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-raised-button color="primary" matStepperNext>Next</button>
      </div>
    </mat-step>
    <!-- Results -->
    <mat-step>
      <ng-template matStepLabel>Results</ng-template>
      @defer (on viewport) {
        <app-results />
      } @placeholder {
        <p>Loading...</p>
      }
      <div>
        <button mat-raised-button color="primary">Summarize</button>
        <div class="">
          {{ result | json }}
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
